body {
  margin: 0;
}

.home-page-container {
  display: flex;
  padding: 5rem;
}

.invoice-card-container {
  width: 60%;
}

.list-control-container {
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  height: 100%;
  padding: 1rem;
  width: 40%;
}

.flexcol {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-weight: bolder;
}

.textcenter {
  text-align: center;
}

#map-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
#map-list > div {
  font-weight: bold;
  font-size: x-large;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.card {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: auto;
  padding: 20px;
  min-width: 500px;
}


.table {
  width: 100%;
  border-collapse: collapse;
}

.table th, .table td {
  padding: 0;
}

.table th {
  font-weight: 400;
}


.hidden {
  display: none;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: red;
}

input:focus + .slider {
  box-shadow: 0 0 1px red;
}

input:checked + .slider:before {
  transform: translateX(26px);
}